<h2>Imported Data</h2>
<h4>Models</h4>
  <% @complete_model_imports.each do |model| %>
    <%= model.name %></br>
  <% end %>
<h4>Users</h4>
  <% @complete_modeler_imports.each do |user| %>
    <%= user["first_name"]%><%= user["last_name"] %></br>
  <% end %>
