.event-list {
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #0071BD;
  max-width: 75%;
  height: 65vh;

  hr {
    padding: 0px;
    margin: 0px;
  }

  .table-header{
    font-weight: bold;
  }

  .title {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #0071BD;
    }

  .event-scroll-body {
    height: 65vh;
    overflow-y: scroll;

    .name,
    .modeler {
      padding-left: 10px;
    }
  }

}
