
.show-events{
  width: 95vw;
  margin: auto;
}

.event-box {
  border: 1px solid #E9EDF0;
  border-radius: 10px;
  height: 80vh;
  margin-top: 10px;
  background-color: white;

  .button {
    margin: 3px;
    border-radius: 3px;
    padding: 5px 3px;
    width: 150px;
    background-color: #265479;
  }

  hr {
    margin: 0px;
    padding: 0px,
  }
  .event-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #265479;
    text-align: center;
  }
  .event-desc,
  .dates,
  .venue {
    font-size: 1em;
    padding: 1em;
  }
  .event-desc {
    text-align: justify;
  }
  .dates {
    text-align: center;
  }
}
.event-display {
  border: 1px solid #E9EDF0;
  border-radius: 10px;
  height: 80vh;
  margin-top: 10px;
  background-color: white;
}
