.model,
.submission {
  max-width: 55%;
}

.index-list {
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #0071BD;

  hr {
    padding: 0px;
    margin: 0px;
  }

  .table-header {
    font-size: 1em;
    font-weight: bold;

    hr {
      border: 1px solid #0071BD
    }
  }

  .scroll-body {
    height: 65vh;
    overflow-y: scroll;

    .tile {
      margin: 5px;
      padding: 5px 0;

      .divide {
        margin-top: 3px;
        hr {
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }

  .title {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #0071BD;
    padding-left: 10px;

    select {
      width: 150px;
      font-size: 1em;
      height: 1.75em;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    input {
      font-size: 1em;
      height: 1.25em;
      margin-top: 5px;
      border-radius: .25em;
    }
  }

  .under-review {
    color: red;
     a {
       color: red;
     }

    hr {
      padding: 0px;
      margin: 0px;
    }
  }
}
