.event-list {
  margin: 10px auto;
  border-radius: 5px;
  border: 3px solid #0071BD;
  max-width: 75%;

  hr {
    padding: 0px;
    margin: 0px;
  }

  .table-header {
    font-size: 1em;
    font-weight: bold;

    hr {
      border: 1px solid #0071BD
    }
  }

  .scroll-body {
    overflow-y: scroll;
  }

  .title {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #0071BD;

    select {
      width: 150px;
      font-size: 1em;
      height: 1.75em;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    input {
      font-size: 1em;
      height: 1.25em;
      margin-top: 5px;
      padding: .12em;
      border-radius: .25em;
    }
  }
  .under-review {
    color: red;
     a {
       color: red;
     }

    hr {
      padding: 0px;
      margin: 0px;
    }
  }
}
