body {
  font-family: 'Helvetica neue', Arial, 'sans serif';
}

.top-bar {
  background-color: #0071BD;
  color: white;

  h3 {
    margin: 0;
  }

  a {
    background-color: #0071BD;
    color: white;
  }
}

.top-bar-section {
  a:hover {
    background-color: white;
    color: #0071BD;
    font-weight: bold;
  }
}
