.splash-tile {
  background-image: url("./../../sussex.jpg");
  background-size: cover;
  height: 100vh;
  opacity: 75%;
  font-family: 'Open Sans', sans-serif;

  .splash-text-box {
    float: left;
    max-width: 500px;
    margin-left: 2em;
    margin-top: 50px;
    opacity: 100%;
    border-radius: 10px;
    background-color: white;
    padding:10px;
    box-shadow: 10px 10px 5px #444444;

    .stats {
      font-size: 0.65em;
    }

    .review {
      color: red;
    }

    .welcome {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
    }

    .welcome-options {
      margin-left: 20px;
      padding: 20px;
      font-size: 1.5em;
    }

    .about-the-site {
      text-align: justify;
      font-size: 1em;
    }
  }
  .model-info-box {
    float:right;
    width: 300px;
    margin-top: 5em;
    margin-right: 50px;
    opacity: 100%;
    border-radius: 10px;
    background-color: white;
    padding:5px;
    box-shadow: 10px 10px 5px #444444;

    .ship-name {
      text-align: center;
      font-size: 1em;
      font-weight: bold;
    }

    .ship-text {
      text-align: justify;
      font-size: .75em;
    }
  }
}
